<p><a href="/">&larr;</a> Back</p>
<h1 class="title is-3">{{ ticket.title }}</h1>
<div class="form-box">
    <div class="is-flex">
        <p>Status:</p>
        <div class="tag ml-4" [style.backgroundColor]="getStatusStyles(ticket).background"
            [style.borderColor]="getStatusStyles(ticket).border">
            {{ ticket.status }}
        </div>
    </div>
    <div class="is-flex">
        <p>Priority:</p>
        <div class="tag ml-4" [style.backgroundColor]="getPriorityStyles(ticket).background"
            [style.borderColor]="getPriorityStyles(ticket).border">
            {{ ticket.priority }}
        </div>
    </div>
    <p>Created At: {{ ticket.createdAt | date }}</p>
    <p>Assigned To: {{ ticket.assignedTo }}</p>
    <p>{{ ticket.description }}</p>
</div>