<main class="knowledgebase" *ngIf="sharedVariables.isUserView">
    <h2 class="title is-3">Knowledge Base</h2>
    <p class="is-5">Here you can find helpful articles and guides to assist you with common issues and questions.</p>
    <div class="knowledgebase-articles">
        <article class="knowledgebase-article">
            <div class="form-box m-4" *ngFor="let article of articlesForUser()">
                <h3 class="is-4">{{ article.title }}</h3>
                <p>{{ article.summary }}</p>
                <a>Read More</a>
                <!--[routerLink]="['/knowledgebase', article.id]"-->
            </div>
        </article>
    </div>
</main>
<main class="knowledgebase" *ngIf="!sharedVariables.isUserView">
    <aside class="menu is-flex is-justify-content-space-between">
        <div>
            <h2 class="title is-3">Knowledge Base</h2>
            <p class="is-5">Here you can find helpful articles and guides to assist you with common issues and questions.</p>
        </div>
        <div>
            <button class="button is-warning">Add Article</button>
        </div>

    </aside>
    <div class="knowledgebase-articles">
        <article class="knowledgebase-article">
            <div class="form-box m-4" *ngFor="let article of articlesForSupporter()">
                <h3 class="is-4">{{ article.title }}</h3>
                <p>{{ article.summary }}</p>
                <a>Read More</a>
                <!--[routerLink]="['/knowledgebase', article.id]"-->
            </div>
        </article>
    </div>

</main>