<nav class="navbar is-dark sidebar-navbar" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold is-size-4">
      Ticket System
    </a>
  </div>

  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item" (click)="myDashboard()">
        Dashboard
      </a>

      <a class="navbar-item" (click)="createTicket()">
        Create Ticket
      </a>

      <a class="navbar-item" (click)="myKnowledgeBase()">
        Knowledge Base
      </a>
      <a class="navbar-item" (click)="Contact()">
        Contact
      </a>
    </div>
  </div>
</nav>