<nav class="navbar is-dark sidebar-navbar is-flex is-flex-direction-column" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold is-size-4">
      Ticket System
    </a>
  </div>

  <div class="navbar-menu is-active is-flex is-flex-direction-column">
    <div class="navbar-start">
      <a class="navbar-item " (click)="myDashboard()">
        Dashboard
      </a>

      <a class="navbar-item" (click)="createTicket()">
        Create Ticket
      </a>

      <a class="navbar-item" (click)="myKnowledgeBase()">
        Knowledge Base
      </a>
      <a class="navbar-item" (click)="Contact()">
        Contact
      </a>
    </div>
  </div>
  <div>
    <button class="button" (click)="switchToUserView()" *ngIf="!sharedVariables.isUserView">
      switch to user view
    </button>
    <button>
        <button class="button" (click)="switchToUserView()" *ngIf="sharedVariables.isUserView">
            switch to supporter view
        </button>
    </button>
  </div>
</nav>