<nav class="menu p-4">
    <p class="menu-label">Ticket System</p>
    <ul class="menu-list">
        <li><button (click)="myDashboard()">Dashboard</button></li>
        <li><button (click)="myTickets()">Tickets</button></li>
        <!-- <li><button (click)="myUsers()">Users</button></li> -->
        <!-- <li><button (click)="mySettings()">Settings</button></li> -->
        <li><button (click)="myFAQ()">FAQ</button></li>
        <!-- <li><button (click)="myLogout()">Logout</button></li> -->
    </ul>
</nav>

