<main class="ticketboard-main" id="create-ticket">
    <div class="is-flex is-flex-direction-column is-justify-content-center">
        <h1 class="title is-3 pt-4">Create Ticket</h1>
        <p><a href="/">&larr; Go Back</a></p>
    </div>
    <div class="form-box" id="create-ticket-box">
        <p>Title</p>
        <input type="text" placeholder="Title" class="input mb-3" id="create-ticket-title" [(ngModel)]="title">
        <p>Description</p>
        <textarea placeholder="Description" class="textarea mb-3" id="create-ticket-description" [(ngModel)]="description"></textarea>
        <aside>
            <p>created By</p>
            <div class="select">
                <select [(ngModel)]="selectedUserId" name="createdBy">
                    <option value="null">Select User</option>
                    <option *ngFor="let user of users()" [value]="user.id">
                        {{ user.firstName }} {{ user.lastName }}
                    </option>
                </select>
            </div>
        </aside>
        <aside>
            <p>Category</p>
            <div class="select">
                <select [(ngModel)]="selectedCategoryId" name="category">
                    <option value="null">Select Category</option>
                    <option *ngFor="let category of categories()" [value]="category.id">
                        {{ category.name }}
                    </option>
                </select>
            </div>
        </aside>
        <aside>
            <p>Status</p>
            <div class="select">
                <select [(ngModel)]="selectedStatusId" name="status">
                    <option value="null">Select Status</option>
                    <option *ngFor="let status of statuses()" [value]="status.id">
                        {{ status.name }}
                    </option>
                </select>
            </div>
        </aside>

        <aside>
            <p>Priority</p>
            <div class="select">
                <select [(ngModel)]="selectedPriorityId" name="priority">
                    <option value="null">Select Priority</option>
                    <option *ngFor="let priority of priorities()" [value]="priority.id">
                        {{ priority.name }}
                    </option>
                </select>
            </div>
        </aside>
        <aside>
            <p>Assigned To</p>
            <div class="select" *ngIf="!sharedVariables.isUserView">
                <select [(ngModel)]="selectedItSupporterId" name="assignedTo">
                    <option value="null">Select Supporter</option>
                    <option *ngFor="let itSupporter of itSupporters()" [value]="itSupporter.id">
                        {{ itSupporter.firstName }} {{ itSupporter.lastName }}
                    </option>
                </select>
            </div>
            <p *ngIf="sharedVariables.isUserView" [style.font-weight]="'bold'" [style.color]="'#f0f0f0'"> will be chosen later</p>
        </aside>
        <br>
        <div>
            <button class="button mr-2" (click)="createTicket()">Submit Ticket</button>
            <button class="button" (click)="goBack()">Cancel</button>
        </div>
    </div>
</main>